{% include get_cover_template('common/post/thumbnail') with {
    image_size: 'large',
    image_attr: {class: 'w-100'}
} %}

{% include get_cover_template('common/header/title') with {
    title: jumbotron,
} %}

<div class="single-content">
    {% include get_template('./content', _self) %}
</div>

