<div class="d-flex justify-content-end">
    {% for item in items %}
        <div class="p-2 bg-white border rounded{% if not loop.last %} me-4{% endif %}">
            {% if item.method is same as('markup') %}
                {{ item.markup|raw }}
            {% else %}
                <a href="{{ item.link|esc_attr }}"{% if item.rel is not empty %}
                rel="{{ item.rel|join(' ') }}"{% endif %} class="d-block">
                    {% set image_size = item.image_size %}
                    {% if image_size is empty %}
                        {% set image_size = [item.width, item.heigth] %}
                    {% endif %}
                    {{ wp_get_attachment_image(item.image, image_size, {class: 'd-block mx-auto'})|raw }}
                </a>
            {% endif %}
        </div>
    {% endfor %}
</div>
