{% extends get_template('common', _self) %}

{% block after_update %}
    <div class="d-flex">
        <div class="d-flex me-3 text-nowrap">
            {{ render_icon(version_icon, {class: 'icon-xxxl icon-primary my-auto'}) }}
            <div data-divider="horizontal" class="bg-primary mx-3"></div>
            <div class="d-flex flex-column">
                <strong class="h2 mb-1">{{ version_count_text|raw }}</strong>
                <small class="text-center">{{ version_count_subtext|raw }}</small>
            </div>
        </div>
        <a href="#product_children_title" class="btn btn-lg btn-primary main-action w-100">{{ action_text|raw }}</a>
    </div>
{% endblock %}
