{% extends get_cover_template('common/carousel/carousel') %}

{% set carousels = items %}
{% set carousel_class = 'full-width animated-carousel front-first-slider max-vh-100' %}
{% set container_class = 'container' %}

{% set carousel_config = {
    fade: true,
    loop: true,
    dots: false,
    speed: 1000,
    arrows: true,
    autoplay: true,
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplaySpeed: 8000,
    variableWidth: false,
    adaptiveHeight: false
} %}

{% block carousel %}
    <div class="carousel-item-content">
        <article class="card p-2">
            <div class="card-body d-flex">
                {{ get_avatar(carousel, 64, {class: 'avatar-img rounded-circle me-3'})|raw }}
                <div class="pr-text my-auto">
                    <h3>{{ get_comment_author(carousel)|raw }}</h3>
                    <small>{{ subtext|raw }}</small>
                    {{ wpautop(get_comment_text(carousel))|raw }}
                </div>
            </div>
        </article>
    </div>
{% endblock %}
