<div class="container">
    <div class="row">
        {% for item in items %}
            <div class="col-12 col-lg-6 d-flex">
                <div class="card p-2 w-100">
                    <div class="card-body">
                        {{ render_if_has_content('h3', {class: 'mb-3'}, item.title) }}
                        <ul class="list-group list-group-flush">
                            {% for post in item.posts %}
                                <li class="list-group-item px-0 py-2{% if loop.first %} pt-0{% elseif loop.last %} pb-0{% endif %}">
                                    <a href="{{ get_permalink(post)|esc_url }}" class="card-link">{{ get_title(post)|raw }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

