<div class="carousel-navigation separated-arrows {{ class|esc_attr }}">
    {% set icon = icon|default('angle') %}
    {% set icon_attrs = icon_attrs|default({})|add({class: 'as-link'}) %}
    {{ render_icon('fasm/6/set/' ~ icon ~ '-right', icon_attrs|add({class: 'prev ' ~ prev_class ~ ' ' ~ btn_class}), 1) }}
    {{ render_icon('fasm/6/set/' ~ icon ~ '-left', icon_attrs|add({class: 'next ' ~ next_class ~ ' ' ~ btn_class}), 1) }}
</div>
