<nav class="navbar d-none d-lg-block navbar-expand navbar-white bg-white border-top shadow-sm">
    <div class="container">
        {% include get_template('./menu', _self) %}
        {{ dynamic_sidebar('header-bottom-left') }}
    </div>
</nav>

