{% if headings is not empty %}
    <section id="post_toc" class="toc-card card shadow mt-4 mb-5">
        <div class="card-body p-4">
            <h2 class="fs-md fw-normal mb-3 lh-1">{{ title|raw }}</h2>
            <nav>
                {% if collapsible %}
                    <span class="h6 my-auto text-info as-link"
                          data-toggle="collapse" data-target=".toc-list"
                          data-replace="{{ show_title|raw|esc_attr }}"
                          aria-expanded="true">{{ hide_title|raw }}</span>
                {% endif %}
                <ul class="toc-list{% if collapsible %} collapse show{% endif %}">
                    {{ headings|raw }}
                </ul>
            </nav>
        </div>
    </section>
{% endif %}
