{{ pmpr_do_action('start_render_header') }}
<!DOCTYPE html>
<!--[if lt IE 7]>
<html dir="rtl" lang="fa" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html dir="rtl" lang="fa" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html dir="rtl" lang="fa" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html dir="rtl" lang="fa" class="no-js"> <!--<![endif]-->

<head>{{ wp_head() }}</head>
<body {{ body_class() }} id="top">

{% if pmpr_apply_filters('has_header', 1) %}

    <header id="site_header" class="site-header header-area">
        <div class="position-relative bg-white">
            {% include get_template('./top/index', _self) %}
            {% include get_template('./bottom/index', _self) %}
        </div>
        {% if pmpr_apply_filters('breadcrumb_allow_render', 1) %}
            {% include get_template('./breadcrumb', _self) %}
        {% endif %}
    </header>
    {% include get_template('./mobile_aside', _self) %}

{% endif %}
