<nav class="navbar navbar-expand navbar-white d-flex">
    {{ wp_nav_menu({theme_location:'desktop-menu', container: 0}) }}
    <div class="d-flex ms-auto">
        {{ pmpr_do_action('render_header_top_menu') }}
    </div>
</nav>


