<div class="post-list">
    {{ render_if_has_content('h3', header_attrs|default({class: 'mb-3'}), title) }}
    {% include get_cover_template('common/post/widget_list') with {
        posts: items,
        version: version,
        metadata: metadata
    } %}
</div>

