<div class="container">
    <div class="row">
        {% if title is not empty %}
            <div class="col-12 mb-3 d-flex justify-content-between">
                <h2 class="my-auto">{{ title|raw }}</h2>
                {% include get_cover_template('common/action') with {
                    action_text: action_text,
                    action_icon: action_icon,
                    action_link: action_link,
                    has_icon: 1,
                    as_outline: 1,
                    main_color: 'white',
                    hover_color: 'primary',
                } %}
            </div>
        {% endif %}
        {% for post in posts %}
            <div class="col-12 col-md-6 col-xl-3 d-flex mb-4">
                {% include get_cover_template('common/block/post') with {
                    post: post,
                    loop: loop,
                    version: 'batch'
                } %}
            </div>
        {% endfor %}
    </div>
</div>

