<div class="container">
    <div class="row py-3">

        <a href="#" data-target="#mobile_aside"
           class="d-md-none aside-toggle my-auto col-auto order-1">
            {{ render_icon(get_cover_option('header_aside_icon', 'fasm/6/set/bars'), {class: 'icon-xxl icon-dark'}) }}
        </a>
        {% include get_cover_template('common/logo') with {
            logo_type: 'header',
            logo_size: [165, 50],
            container_class: 'my-auto col col-md-auto order-1'
        } %}

        {% if pmpr_apply_filters('allow_to_render_header_search', 1) %}
            {% include get_template('./search', _self) %}
        {% endif %}

        {% include get_template('./menu', _self) %}
    </div>
</div>
