<div class="container">
    {% include get_template('./mobile/index', _self) %}
    <div class="row py-3">
        {% include get_cover_template('common/logo') with {
            logo_type: 'header',
            logo_size: [115, 30],
            container_class: 'my-auto col-auto'
        } %}
        {% include get_template('./search', _self) %}
        {% include get_template('./menu', _self) %}
    </div>
</div>
