{% if metadata is not empty %}
    {% set hasColumns = columns is not empty %}
    <div class="metadata{% if hasColumns %} row{% else %} d-flex{% endif%} version-{{ version }} {{ wrapper_class|esc_attr }}">
        {% for meta_item in metadata %}
            <div class="meta-item {% if hasColumns %}{{ prepare_columns(loop, columns, margin|default(3)) }}{% endif %}">
                {% block item %}{% endblock %}
            </div>
        {% endfor %}
    </div>
{% endif %}
