<div class="bg-gray-400 mt-5">
    <div class="container">
        <div class="row py-4 text-gray-800">
            <div class="col-12 col-lg-6 text-center text-lg-start mb-3 mb-lg-0">
                {{ get_cover_option('footer_copyrights', '')|raw }}
            </div>
            <div class="col-12 col-lg-6 text-center text-lg-end">
                {{ get_cover_option('footer_develop_by', '')|raw }}
            </div>
        </div>
    </div>
</div>

