<div class="row mt-5 text-gray-400">
    <div class="col-12 col-lg-6">
        {{ get_cover_option('footer_copyrights', '')|raw }}
    </div>
    <div class="col-12 col-lg-6 text-end">
        {{ get_cover_option('footer_develop_by', '')|raw }}
    </div>
</div>
