{% set features = get_cover_option('woocommerce_features', [], {
    requires: ['icon', 'title', 'subtext'],
    filter: 'show_on',
    output: 'array',
    filter_value: 'footer'
}) %}
{% if features is not empty %}
    <div class="features row g-0 bg-white rounded p-4 mb-5">
        {% for feature in features %}
            <div class="d-flex {{ prepare_columns(loop, {'': 12, sm: 6, xl: 3}, 4) }}">
                <div class="bg-gray-200 rounded p-2 p-sm-3">
                    {{ render_icon(feature.icon, {class: 'icon-primary icon-xl icon-sm-3x'}) }}
                </div>
                <div class="ms-3 my-auto">
                    <div class="h3 mb-0 mb-sm-2 text-nowrap">{{ feature.title|raw }}</div>
                    <div class="text-gray-700 line-limit-2 d-none d-sm-block">{{ feature.subtext|raw }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

