{% if pmpr_apply_filters('has_footer', 1) %}

    <footer id="site_footer">
        <div class="container">

        </div>
    </footer>

{% endif %}

{{ wp_footer()|raw }}
<div class="backdrop position-fixed o-50 vw-100 vh-100 bg-gray-900 top-0 left-0 z-xs"></div>
</body>
</html>

