<div class="my-4 comments-container" data-post="{{ post|raw }}" id="comments_container">
    <h2 class="visually-hidden">{{ title|raw }}</h2>
    {{ comment_form|raw }}
    {{ comment_list|raw }}
</div>

