<div class="price d-flex justify-content-end my-2">
    {% if discount and before %}
        <div>
            <div class="d-flex justify-content-between">
                <div class="position-relative">
                    <span class="middle-line-through w-100 position-absolute top-50"></span>
                    {{ before|raw }}
                </div>
                <span class="pr-discount bg-primary text-white fs-12 rounded-xl">{{ discount|raw }}</span>
            </div>
            {{ price|raw }}
        </div>
    {% else %}
        {{ price|raw }}
    {% endif %}
</div>

