<div class="price d-flex justify-content-end">
    {% if discount and before %}
        <div>
            <div class="discount-area d-flex justify-content-between">
                <div class="position-relative before-discount">
                    <span class="middle-line-through w-100 position-absolute top-50"></span>
                    {{ before|raw }}
                </div>
                <span class="pr-discount bg-primary text-white fs-12 rounded">{{ discount|raw }}</span>
            </div>
            {{ price|raw }}
        </div>
    {% else %}
        {{ price|raw }}
    {% endif %}
</div>

