<div class="row">
    {% for item in items %}
        <div class="{{ prepare_columns(loop, {'': 12, md: 6}, 3) }}">
            <a href="{{ item.url|raw }}" class="btn btn-primary d-block">{{ item.text|raw }}</a>
        </div>
    {% endfor %}
</div>

