{% extends get_cover_template('base') %}

{% block body %}
    <main id="main" class="bg-gray-200 pb-4">
        <header class="pt-3{% if not is_paged() and not ignore_top %} bg-white{% endif %}">
            <div class="container">
                {% include get_cover_template('common/header/title') with {
                    title: jumbotron,
                    title_attrs: {class: 'mb-0'}
                } %}
            </div>
        </header>

        {% set posts = have_posts() %}

        {% if not is_paged() and not ignore_top %}
            {% set first_part = posts|slice(0, 6) %}
            {% set posts = posts|slice(6, posts|length) %}
            <div id="blog_recent" class="pt-4 pb-5 bg-white">
                {% embed get_cover_template('common/carousel/index') with {
                    dont_hide: 1,
                    carousels: first_part,
                    slide_class: 'hero-grid-post d-flex flex-column',
                    wrapper_class: 'hero-grid-posts mb-4',
                    container_class: 'container',
                    carousel_config: {
                        loop: true,
                        load_under: 992,
                        navigation: false,
                        pagination: false,
                        slidesPerView: 1,
                        spaceBetween: 16,
                        breakpoints: {
                            992: {
                                slidesPerView: 3,
                                spaceBetween: 0,
                                draggable: 0
                            },
                        },

                    }
                } %}
                    {% block carousel %}
                        {% include get_cover_template('common/block/post') with {
                            post: carousel,
                            version: 'cover',
                            image_size: (loop.index == 1 ? 'feature_image' : (loop.index < 3 ? 'large' : 'medium')),
                            wrapper_class: 'hero-grid-post-item h-100 overflow-hidden zoom-on-hover',
                        } %}
                    {% endblock %}
                {% endembed %}
            </div>

            {% set hot_posts = pmpr_apply_filters('ff_traffic_get_most_viewed_posts', [], {
                limit: 3,
                period: 'monthly',
                post_type: post_type,
                metadata: ['publish'],
            }) %}

            {% if hot_posts is not empty %}
                <aside>
                    <div class="container">
                        <div class="bg-gray-100 p-4 rounded mt-n5">
                            <h2 class="section-title mt-3 mb-4">{{ __('Today\'s hottest', domain) }}</h2>
                            <div class="row">
                                {% for item in hot_posts %}
                                    <div class="{{ prepare_columns(loop, {'': 12, md: 4}, 4) }} d-flex">
                                        {% include get_cover_template('common/post/widget_list_item') with {
                                            post: item.post,
                                            metadata: item.metadata
                                        } %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </aside>
            {% endif %}
        {% endif %}

        {% if posts is not empty %}
            <div class="container">
                <div class="row mt-4">
                    <section id="blog_timeline" class="col-12 col-lg-9 mb-4 mb-lg-0">
                        {% if not ignore_top %}
                            <h2 class="section-title mb-4">
                                {% set short_label = get_post_type_label(post_type, 'short_label') %}
                                {% if short_label is empty %}
                                    {% set short_label = get_post_type_label(post_type, 'label') %}
                                {% endif %}
                                {{ __('Newest %s', domain)|format(short_label) }}
                            </h2>
                        {% endif %}
                        <div class="row">
                            {% for post in posts %}
                                <div class="{{ prepare_columns(loop, {'': 12, md: 6, xl: 4}, 4) }} d-flex">
                                    {% include get_cover_template('common/block/post') with {
                                        post: post,
                                        version: 'responsive',
                                        metadata: ['publish', 'study_time'],
                                    } %}
                                </div>
                            {% endfor %}
                        </div>
                        {% include get_cover_template('common/archive/pagination') %}
                    </section>
                    <aside id="sidebar" class="col-12 col-lg-3">
                        {% include get_cover_template('common/archive/widget') with {
                            post_type: post_type
                        } %}
                    </aside>
                </div>
            </div>
        {% endif %}
    </main>
{% endblock %}

