{% if posts is defined
    and posts is not empty %}

    <div class="card">
        <div class="card-body">
            {% for index, post in posts %}
                <article class="position-relative{% if not loop.last %} mb-3 border-bottom{% endif %}">
                    {% include get_cover_template('common/block/' ~ post_type) with {
                        loop: loop,
                    } %}
                </article>
            {% endfor %}
        </div>
    </div>

    {% include get_template('./pagination', _self) %}

{% else %}

    {% include get_template('./empty', _self) %}

{% endif %}

