{% if items is defined
    and items is not empty %}

    <div class="list">
        {% for index, item in items %}
            <article class="list-item">
                {% include get_cover_template('common/block/' ~ template) with {
                    loop: loop,
                } %}
            </article>
        {% endfor %}
    </div>

    {% include get_template('./pagination', _self) %}

{% else %}

    {% include get_template('./empty', _self) %}

{% endif %}

